:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    --post-block-width: 
}

a {
    text-decoration: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #202124 !important;
    color: white !important;
}

.post {
    background-color: #303134;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    width: 35vw;
}

textarea {
    width: 400px;
    height: 200px;
}

.my {
    min-height: 77.325px;
}

.my p {
    text-align: left;
    word-wrap: break-word;
    width: 97%;
    max-width: 445.275px;
    min-width: 100px;
    padding: 5px;
    padding-left: 15px;
}

.my-message-body {
    background-color: dimgray;
    border-radius: 5px;
    border: 1px solid black;
    float: right;
    max-width: 70%;
    min-height: 30px;
    min-width: 40px;
    padding: 5px;
    padding-bottom: 20px;
    position: relative;
    margin: 1px 10px 1px 0px;
}

.my-img-body {
    background-color: dimgray;
    border-radius: 5px;
    border: 1px solid black;
    float: right;
    max-width: 70%;
    min-height: 30px;
    min-width: 40px;
    padding: 5px;
    padding-bottom: 20px;
    position: relative;
    margin: 1px 10px 1px 0px;
}

.his-img-body {
    background-color: #282828;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    max-width: 70%;
    min-height: 30px;
    min-width: 40px;
    padding: 0px 5px 0px 5px;
    padding-bottom: 20px;
    position: relative;
    margin: 1px 10px 1px 0px;
}

.chat-img-my {
    max-width: 100%;
    min-height: 30px;
    min-width: 40px;
    float: left;
    margin: 1px 1px 5px 0px;
}

.chat-img-my img {
    border-radius: 5px;
}

.chat-img-his {
    max-width: 100%;
    min-height: 30px;
    min-width: 40px;
    float: right;
    margin: 1px 1px 5px 0px;
}

.send-img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
}

.send-img-submit {
    width: 100px;
    height: 100%;
    margin-top: 10px;
    margin-right: 25%;
    float: right;
}

.cancel-img-submit {
    width: 100px;
    height: 100%;
    margin-top: 10px;
    margin-left: 25%;
    float: left;
}

.my-message-created{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    position: absolute;
    right: 10px;
    bottom: 0px;
}   

.his-message-created{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    position: absolute;
    right: 10px;
    bottom: 0px;
}   

.his {
    float: bottom;
    min-height: 77.325px;   
    max-width: 70%;
}

.his p {
    text-align: left;
    word-wrap: break-word;
    max-width: 400px;
    min-width: 100px;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-right: 15px;
    margin-top: 0px;

}

.his-message-body {
    background-color: #282828;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    position: relative;
    padding-bottom: 20px;
    max-width: 70%;
    min-width: 60px;
    min-height: 30px;
    margin: 1px 0px 1px 0px;
}

.chat-room {
    background-color: #303134;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    margin: 30px auto 0px auto;
    border-radius: 10px;
    overflow: auto;
    padding-bottom: 10px;
    padding-right: 0px;
    max-height: 70vh;
    z-index: 1;
}

.send-img-alert {
    z-index: 2;
    position: absolute;
    display: none;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    background-color: grey;
    left: 550px;
    top: 110px;
    padding: 10px;
}

.chat-room::-webkit-scrollbar {
    width: 10px;
    background-color: #303134;
}

.chat-room::-webkit-scrollbar-thumb  {
    background-color: dimgray;
}

.chat-navigation {
    width: 60%;
    margin: auto;
}

.chat-navigation textarea {
	width: 80%;
	background-color: #fff;
	height: 54px;
	font-size: 20px; 
	line-height: 1.2;
    resize: none;
    margin: auto;
    max-height: 150px;
}

.board {
    height: 100%;
    display: grid;
}

.clip-svg {
    width: 50px;
    height: 50px;
    margin: 2px 0px 5px 18px;
}

.file-upload-div {
    width: 10%;
    float: left;
    height: 54px;
    background-color: #EFEFEF;
    border: 1px solid grey;
}

.file-upload-div:hover{
    background-color: #C0C0C0;
}

.file-upload-input {
    display: block;
    visibility: hidden;
}

.chat-submit {
    width: 10%;
    float: right;
    height: 54px;
}

.chat-edit {
    float: right;
    width: 10%;
    height: 54px;
}

.chat-log-my{
    color: white;
    margin: 5px 5px 5px 10px;
    font-size: 20px;
    float: right;
}

.chat-log-his{
    color: white;
    margin: 5px 5px 5px 10px;
    font-size: 20px;
    float: left;
}

.chat-log-sender {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 0.2em grey;    
    float: top;
    margin: 0px 0px 0px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    min-width: 100px;
    max-height: 200px;
}
  
.dropdown-content a {
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #C0C0C0;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.auth-text {
    font-size: 40px;
    text-align: center;
    margin: 40px;
}

.register-text {
    background-image: linear-gradient(
      to right,
      #9176FF,
      #9176FF 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
  }
  
  .register-text:before{
    content: '';
    background: #9176FF;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .register-text:hover {
   background-position: 0;
  }
  
  .register-text:hover::before{
    width: 100%;
  }

.post-created {
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    margin-top: -38px;
    margin-left: 120px;
    color: #636363;
}

.user-name a {
    text-decoration: none;
    list-style-type: none; 
    margin: 2px !important;
    font-size: 20px;
    font-weight: bold;
}

.user-avatar img {
    list-style-type: none; 
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post-text {
    margin: 10px;
}

.post-host {
    position: absolute;
    margin-top: -55px;
    margin-left: 70px;
}

.update-text {
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    color: white;
    margin-top: -5px;
}

.post-img {
    position: relative;
    margin: 1.7%;
    object-fit: cover;
    width: 33.8vw;
    height: 100%;
}

.user-host-img{
    list-style-type: none; 
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.chat-host-avatar {
    list-style-type: none; 
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    float: left;
}

.navbar-nav {
    width: 100%;
    height: 50px;
}

.navbar-nav a {
    margin: 5px;
}

.nav-user-info {
    width: 30%;
    float: right;
}

.navbar {
    background-color: #303134 !important;
}

.login-form {
    background-color: #303134 !important;
    width: 500px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 40px;
}

.container-auth {
    margin: 0;
    top: 10%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: #141623;
    border-radius: 9px;
    width: 500px;
    height: 400px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  }

.container-register {
  margin: 0;
  top: 10%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: #141623;
  border-radius: 9px;
  width: 500px;
  height: 600px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

.plus-svg {
    width: 25px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.no-posts-text {
    text-align: center;
    font-size: 20px;
    color: #636363;
}
.post-create-div {
    position: relative;
    text-align: center;
    margin: 50px;
}

.post-create-text {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}
  
.post-create-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
  
.post-create-text:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nimbus-button {
    position: relative;
    border: 0;
    background: #6840ec;
    color: #dfdeee;
    border-radius: 100px;
    width: 70%;
    height: 49px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    background-position: center;
    transition: background 0.8s;
}

.create-post-btn {
    margin: auto;
    width: 20%;
    text-align: center;
}

.nimbus-button:hover { background: #5b37d4 radial-gradient(circle, transparent 1%, #5a31df 1%) center/15000%; }
.nimbus-button:active {
    background-color: #6a4ccf;
    background-size: 100%;
}

.nimbus-input {
    position: relative;
    display: block;
    margin: 30px auto 10px auto;
    background-color: #262e49 !important;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 400px;
    height: 40px;
    outline: none;
    color: #d6d6d6;
    font-size: 15.5px !important;
}