{% extends 'main.html' %}
{% load static %}
{% load app_profile %}
{% block content %}  
{% get_static_prefix as STATIC_PREFIX %}
<html>
    <div class="chat-room" id="chat-room">
        <p id="sender">{{sender.username}}</p>
        <p id="receiver">{{receiver.username}}</p>
        <div id="top-board" class="top-board"></div>
        <!--{% for message in messages %}
            {% if message.sender.id != request.user.id %}
                {% if message.text != None %}
                    <div id="{{message.id}}h" class="his">
                        <img class="chat-host-avatar" src="{{STATIC_PREFIX}}images/{{receiver_profile.image}}">
                        <div class="his-message-body" atr="{{message.id}}" oncontextmenu="pkm(this.getAttribute('atr'), event)">
                            {% if message.parent_message != None %}
                                {% if message.parent_message.text != None %}
                                    <p class="chat-reply-log-his">{{message.parent_message.text}}</p>
                                {% else %}       
                                    <p class="chat-reply-log-his"><img src="{{STATIC_PREFIX}}images/{{message.parent_message.image}}"></p>
                                {% endif %}
                            {% endif %}
                            <p id="{{message.id}}p" class="chat-log-his">{{message.text}}</p>
                            <div class="his-message-created">
                                <span>{{message.created|date:"H:i"}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="{{message.id}}" class="dropdown-content">
                        <a atr="{{message.text}}" id="{{message.id}}" onclick="copy_message(this.getAttribute('atr', 'id'))">Copy</a>
                        <a atr="{{message.id}}" onclick="show_reply_btn(this.getAttribute('atr'))">Reply</a>
                    </div>
                {% else %}
                    <div id="{{message.id}}h" class="his">
                        <img class="chat-host-avatar" src="{{STATIC_PREFIX}}images/{{receiver_profile.image}}">
                        <div class="his-img-body" atr="{{message.id}}" oncontextmenu="pkm(this.getAttribute('atr'), event)">
                            <img class="chat-img-his" src="{{STATIC_PREFIX}}images/{{message.image}}">
                            <div class="his-message-created">
                                <span>{{message.created|date:"H:i"}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="{{message.id}}" class="dropdown-content">
                        <a atr="{{message.text}}" id="{{message.id}}" onclick="copy_message(this.getAttribute('atr', 'id'))">Copy</a>
                        <a atr="{{message.id}}" onclick="show_reply_btn(this.getAttribute('atr'))">Reply</a>
                    </div>
                {% endif %}    
            {% else %}
                {% if message.text != None %}
                    <div id="{{message.id}}m" class="my">
                        <div class="my-message-body" atr="{{message.id}}" oncontextmenu="pkm(this.getAttribute('atr'), event)">
                            {% if message.parent_message != None %}
                                {% if message.parent_message.text != None %}
                                    <p class="chat-reply-log-my">{{message.parent_message.text}}</p>
                                {% else %}       
                                    <p class="chat-reply-log-my"><img src="{{STATIC_PREFIX}}images/{{message.parent_message.image}}"></p>
                                {% endif %}
                            {% endif %}
                            <p id="{{message.id}}p" class="chat-log-my">{{message.text}}</p>
                            <div class="my-message-created">
                                <span >{{message.created|date:"H:i"}}</span>
                            </div>
                        </div>  
                    </div>
                    <div id="{{message.id}}" class="dropdown-content">
                        <a atr="{{message.id}}" onclick="show_edit_btn(this.getAttribute('atr'))">Edit</a>
                        <a atr="{{message.id}}" onclick="delete_click(this.getAttribute('atr'))">Delete</a>
                        <a atr="{{message.text}}" id="{{message.id}}" onclick="copy_message(this.getAttribute('atr', 'id'))">Copy</a>
                        <a atr="{{message.id}}" onclick="show_reply_btn(this.getAttribute('atr'))">Reply</a>
                    </div>
                {% else %}
                    <div id="{{message.id}}m" class="my">
                        <div class="my-img-body" atr="{{message.id}}" oncontextmenu="pkm(this.getAttribute('atr'), event)">
                            <img class="chat-img-my" src="{{STATIC_PREFIX}}images/{{message.image}}">
                            <div class="my-message-created">
                                <span>{{message.created|date:"H:i"}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="{{message.id}}" class="dropdown-content">
                        <a atr="{{message.id}}" onclick="delete_click(this.getAttribute('atr'))">Delete</a>
                        <a atr="{{message.id}}" onclick="show_reply_btn(this.getAttribute('atr'))">Reply</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %} -->  
        <div id="bottom-board" class="board"></div>
        <i id="scroll-bottom"></i>
    </div>
    <div class="chat-reply-block" id="chat-reply-block">
        <div>
            <p class="p-upper">Reply to:</p>
            <p class="p-lower" id="parent-message-text"></p>
        </div>
        <img class="close-svg" src="{% static 'images/close-svgrepo-com.svg' %}" onclick="close_reply_panel()">
    </div>
    <div class="chat-navigation">
        <div class="file-upload-div" id="file-upload-div">
            <img class="clip-svg" src="{% static 'images/clip-svgrepo-com.svg' %}">
            <input class="file-upload-input" id="file-upload-input" type="file" />
        </div>
        <textarea class="chat-input" id="chat-message-input" type="text"></textarea>    
        <input class="chat-submit" id="chat-message-submit" type="button" value="Send" onclick="send_click()">
        <input class="chat-edit" id="chat-message-edit" type="button" onclick="edit_click()" value="Edit" style="display:none;">
        <input class="chat-reply" id="chat-message-reply" type="button" onclick="reply_click()" value="Reply" style="display:none;">
    </div>
    <div class="send-img-alert" id="send-img-alert">
        <img src="" class="send-img" id="image-send">
        <input class="cancel-img-submit" id="cancel-img-submit" type="submit" value="cancel">
        <input class="send-img-submit" id="send-img-submit" type="submit" value="send" onclick="send_img()">
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const sender = document.getElementById('sender').textContent;
        const receiver = document.getElementById('receiver').textContent;

        const cancelImgSendInput = document.getElementById('cancel-img-submit')
        const imgSendInput = document.getElementById('send-img-submit')

        const uploadBlock = document.getElementById('file-upload-div');
        const imageInput = document.getElementById('file-upload-input');

        const sendImgAlert = document.getElementById('send-img-alert');

        const chatRoom = document.getElementById('chat-room');
        const chatInput = document.getElementById('chat-message-input')

        let today = new Date();
        let time = today.getFullYear() + "69" + (today.getMonth()+1) + "69" + today.getDate() + "69" + today.getHours() + "69" + today.getMinutes() + "69" + today.getSeconds();

        let count = 0;
        let messages_load_count = 1;

        console.log("global count: ", count)

        let image_url = null;
        let parent_message_id = null;
        let msg_id = null;
        let message = null;
        let place = null;
        
        cancelImgSendInput.addEventListener('click', function() {
            sendImgAlert.style.display = 'none';
        });

        uploadBlock.addEventListener('click', function() {
            imageInput.click();
        });

        document.getElementById('file-upload-input').addEventListener('change', function(event) {
            const file = event.target.files[event.target.files.length-1];

            document.getElementById('file-upload-input').value = '';

            if (file) {
                const reader = new FileReader();

                sendImgAlert.style.display = "block"

                reader.onload = function(e) {
                    let imageSend = document.getElementById('image-send');

                    image_url = e.target.result;
                    imageSend.src = image_url;
                };

                reader.readAsDataURL(file);
            }
        });

        $("#chat-message-input").on('input', function(){
	        this.style.height = '50px';
	        this.style.height = (this.scrollHeight + 6) + 'px'; 
        });

        function scrolling_perms(block, arg) {
            const chatBlock = document.getElementById('chat-room');
            const board = document.getElementById('board');
            
            if(arg === "enable") {
                block.style.overflow = 'auto';
                block.style.paddingRight = '0px';
            } else if (arg === "disable") {
                block.style.overflow = 'hidden';
                block.style.paddingRight = '10px';
            }
        }

        function handleMouseMove(event, id, start_x, start_y, dropdown) {
            let x = event.clientX;
            let y = event.clientY;
        
            if ((start_x-400) > x || x > (start_x+400) || (start_y-400) > y || y > (start_y+400)) {
                dropdown.style.display = 'none';
                if(count > 0) {
                    count -= 1;
                    scrolling_perms(chatRoom, "enable")
                }
            }
        }

        function pkm(id, event){
            let x = event.clientX;
            let y = event.clientY;

            const chatBlock = document.getElementById('chat-room');

            const chatRoomRect = chatBlock.getBoundingClientRect();
            const maxYChatRoom = chatRoomRect.bottom;
            const chatRoomHeight = chatBlock.offsetHeight;

            const windowHeight = window.innerHeight;

            const dropdown = document.getElementById(id);

            dropdown.style.display = 'block';
            const dropdownHeight = dropdown.offsetHeight;
            dropdown.style.display = 'none';

            console.log("message id:", id)
            console.log("count", count)

            if(count == 0) {
                event.preventDefault();
                if((y + dropdownHeight) > maxYChatRoom) {
                    if((windowHeight/100)*70 < chatRoomHeight) {
                        dropdown.style.display = 'block';
                        dropdown.style.left = x + 5 + "px";
                        dropdown.style.top = y - dropdownHeight + "px";
                        count += 1;
                        scrolling_perms(chatBlock, "disable")
                        location.href = '#scroll-bottom';
                    } else {
                        dropdown.style.display = 'block';
                        dropdown.style.left = x + 5 + "px";
                        dropdown.style.top = y - (dropdownHeight) + "px";
                        count += 1;
                        scrolling_perms(chatBlock, "disable")
                    }
                } else {
                    if((windowHeight/100)*85 < chatRoomHeight) {
                        dropdown.style.display = 'block';
                        dropdown.style.left = x + 5 + "px";
                        dropdown.style.top = y + (dropdownHeight) + "px";
                        scrolling_perms(chatBlock, "disable")
                        count += 1;
                        location.href = '#scroll-bottom';
                    } else {
                        dropdown.style.display = 'block';
                        dropdown.style.left = x + 5 + "px";
                        dropdown.style.top = y + "px";
                        count += 1;
                        scrolling_perms(chatBlock, "disable")
                    }
                }

                window.addEventListener('mousemove', (event) => {
                    handleMouseMove(event, id, x, y, dropdown);
                });
            } else {
                dropdown.style.display = 'none';
            }
        }

        window.onclick = function(event) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display == "block") {
                        openDropdown.style.display = "none";
                        count -= 1;
                        scrolling_perms(chatRoom, "enable")
                    }
                }
        }  

        function close_reply_panel() {
            document.getElementById('chat-reply-block').style.display = "none";
            document.getElementById('chat-message-submit').style.display = 'block';
            document.getElementById('chat-message-reply').style.display = 'none';
        }
        
        function copy_message(text, id) {
            let copyTextarea = document.createElement("textarea");
            copyTextarea.style.position = "fixed";
            copyTextarea.style.opacity = "0";
            copyTextarea.textContent = text;
            
            document.body.appendChild(copyTextarea);
            copyTextarea.select();
            document.execCommand("copy");
            document.body.removeChild(copyTextarea);
        }

        function show_edit_btn(id) {
            document.getElementById('chat-message-submit').style.display = 'none';
            document.getElementById('chat-message-edit').style.display = 'block';

            chatInput.textContent = document.getElementById(id+"p").textContent;

            msg_id = id;
        }

        function show_reply_btn(id) {
            document.getElementById('chat-message-submit').style.display = 'none';
            document.getElementById('chat-message-reply').style.display = 'block';
            
            msg_id = id;
            parent_message_id = id;

            let text = document.getElementById(id + 'p');

            if(text != null) {
                document.getElementById('parent-message-text').textContent = text.textContent;
            } else {
                document.getElementById('parent-message-text').textContent = 'Photo';
            }

            document.getElementById('chat-reply-block').style.display = "flex";  
        }
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function() {
            place = "top_board"
            chatSocketSend("load_messages", {"messages_load_count": messages_load_count})
            messages_load_count += 1;
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data)
            const topBoard = document.getElementById('top-board')
            const bottomBoard = document.getElementById('bottom-board')
            
            console.log('data', data)

            if(data.type === 'chat_edit') {
                let msg_p = document.getElementById(data.id + 'p')
                msg_p.textContent = data.message
            } else if(data.type === 'chat_delete'){
                let msgg;
                console.log(data.id + "m" + "----------")
                if(data.sender == sender) {
                    msgg = document.getElementById(data.id + "m");
                } else if(data.sender == receiver) {
                    msgg = document.getElementById(data.id + "h");
                }
                msgg.remove()
            } else if (data.type == 'chat_message') {
                let atr = "'atr'"
                let id = "'id'"

                let parent_message_part_my = '';
                let parent_message_part_his = '';

                console.log("sender:", data.sender, "receiver", data.receiver)
                
                if(data.parent_message_text != null || data.parent_message_image != null) {
                    if(data.parent_message_image != null) {
                        parent_message_image = data.parent_message_image.substring(32);
                        parent_message_part_my = '<p class="chat-reply-log-my"><img src="' + data.parent_message_image + '"></p>'
                        parent_message_part_his = '<p class="chat-reply-log-his"><img src="' + data.parent_message_image + '"></p>'
                    } else {
                        parent_message_part_my = '<p class="chat-reply-log-my">' + data.parent_message_text + '</p>'
                        parent_message_part_his = '<p class="chat-reply-log-his">' + data.parent_message_text + '</p>'
                    }
                    console.log('creating parent parts')
                }  
        
                if (data.message != null) {
                    console.log('adding message')
                    const text_box_my = '<div id="'+ data.id +'m" class="my" atr="'+ data.id +'" oncontextmenu="pkm(this.getAttribute('+ atr + '), event)">' +
                        '<div class="my-message-body" atr="'+ data.id +'" oncontextmenu="pkm(this.getAttribute(' + atr +', event))">' +
                            parent_message_part_my +                        
                            '<p id="'+ data.id +'p" class="chat-log-my">' + data.message + '</p>' +
                            '<div class="my-message-created">' +
                                '<span>' + data.created + '</span>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="'+ data.id +'" class="dropdown-content">' +
                        '<a atr="'+ data.id +'" onclick="show_edit_btn(this.getAttribute(' + atr + '))">Edit</a>' +
                        '<a atr="'+ data.id +'" onclick="delete_click(this.getAttribute(' + atr +'))">Delete</a>' +
                        '<a atr="'+ data.message +'" id="'+ data.id +'" onclick="copy_message(this.getAttribute(' + atr + ',' + id + '))">Copy</a>' +
                    '</div>'
                        
                    const text_box_his = '<div id="' + data.id + 'h" class="his" atr="'+ data.id +'" oncontextmenu="pkm(this.getAttribute('+ atr + '), event)">' +
                    '<img class="chat-host-avatar" src="{{STATIC_PREFIX}}images/{{receiver_profile.image}}">' +
                        '<div class="his-message-body">' +
                            parent_message_part_his +
                            '<p id="' + data.id + 'p" class="chat-log-his">' + data.message +  '</p>' +
                            '<div class="his-message-created">' +
                                '<span>' + data.created + '</span>' +
                            '</div>' +
                        '</div>' +      
                    '</div>' +
                    '<div id="'+ data.id +'" class="dropdown-content">' +
                        '<a atr="'+ data.id +'" onclick="show_reply_btn(this.getAttribute(' + atr + '))">Reply</a>' +
                    '</div>'

                    if(sender != data.sender) {
                        if(place == 'top_board') {
                            topBoard.innerHTML += text_box_his;
                        } else if(place == 'bottom_board') {
                            bottomBoard.innerHTML += text_box_his;
                            location.href = '#scroll-bottom';
                        } 
                    } else {
                        if(place == 'top_board') {
                            topBoard.innerHTML += text_box_my;
                        } else if(place == 'bottom_board') {
                            bottomBoard.innerHTML += text_box_my;
                            location.href = '#scroll-bottom';
                        }
                    }
                } else if (data.image_url != null) {
                    const myImage = '<div class="my" id="' + data.id + 'm" atr="'+ data.id +'" oncontextmenu="pkm(this.getAttribute('+ atr + '), event)">'+
                        '<div class="my-img-body">'+
                            '<img class="chat-img-my" src="' + data.image_url + '">' +
                            '<div class="my-message-created">' +
                                '<span>'+ data.created + '</span>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="'+ data.id +'" class="dropdown-content">' +
                        '<a atr="'+ data.id +'" onclick="delete_click(this.getAttribute(' + atr +'))">Delete</a>' +
                        '<a atr="'+ data.id +'" onclick="show_reply_btn(this.getAttribute(' + atr + '))">Reply</a>' +
                    '</div>'

                    const hisImage = '<div class="his" id="' + data.id + 'h" atr="'+ data.id +'" oncontextmenu="pkm(this.getAttribute('+ atr + '), event)">'+
                        '<img class="chat-host-avatar" src="{{STATIC_PREFIX}}images/{{receiver_profile.image}}">' +
                        '<div class="his-img-body">' +
                            '<img class="chat-img-his" src="' + data.image_url + '">' +
                            '<div class="his-message-created">' +
                                '<span>'+ data.created + '</span>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="'+ data.id +'" class="dropdown-content">' +
                        '<a atr="'+ data.id +'" onclick="delete_click(this.getAttribute(' + atr +'))">Delete</a>' +
                        '<a atr="'+ data.id +'" onclick="show_reply_btn(this.getAttribute(' + atr + '))">Reply</a>' +
                    '</div>'

                    if(sender != data.sender) {
                        if(place == 'top_board') {
                            topBoard.innerHTML += hisImage;
                        } else if(place == 'bottom_board') {
                            bottomBoard.innerHTML += hisImage;
                            location.href = '#scroll-bottom';
                        } 
                    } else {
                        if(place == 'top_board') {
                            topBoard.innerHTML += myImage;
                        } else if(place == 'bottom_board') {
                            bottomBoard.innerHTML += myImage;
                            location.href = '#scroll-bottom';
                        }
                    }

                    console.log(data.id)
                }
            }
        }
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatInput.focus();
        chatInput.onkeyup = function(e) {
            if (e.keyCode == 13 && e.shiftKey) {
                form.submit();
            } 
            else if (e.keyCode === 13) {
                chatInput.click();
            }
        };

        function chatSocketSend(type, kwargs) {
            console.log(sender, receiver)
            if(chatInput.value != '') {
                message = chatInput.value;
            } else {
                message = null;
            }
            const data = {
                'type' : type,
                'message': message,
                'sender' : sender,
                'receiver' : receiver,
                'id' : msg_id,
                'image_url' : image_url,
                'parent_message_id' : parent_message_id,
                'place' : place,
                ...kwargs
            };

            chatSocket.send(
                JSON.stringify(data)
            );

            console.log(data)

            chatInput.value = '';
            image_url = null;
            parent_message_id = null;
        }

        function send_click() {
            console.log(chatInput.value)
            if(chatInput.value != ''){
                chatInput.style.height = '54px';
                location.href = '#scroll-bottom';
                
                place = 'bottom_board'    

                chatSocketSend('chat_message');
            } 
        }

        function send_img() {
            place = 'bottom_board'

            chatSocketSend('chat_message', {time : time});
            document.getElementById('send-img-alert').style.display = 'none';
        }

        function edit_click() {
            chatSocketSend('chat_edit');

            document.getElementById('chat-message-submit').style.display = 'block';
            document.getElementById('chat-message-edit').style.display = 'none';
        }

        function reply_click() {
            place = 'bottom_board'

            chatSocketSend('chat_message');

            document.getElementById('chat-reply-block').style.display = "none";
            document.getElementById('chat-message-reply').style.display = 'none';
            document.getElementById('chat-message-submit').style.display = 'block';
        }

        function delete_click (id) {
            msg_id = id

            chatSocketSend('chat_delete');
        }
    </script>
</html>
{% endblock %}